body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(25, 153, 127, 0.952);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(9, 14, 19, 0.2);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid rgb(58, 21, 57);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between; /* Ratakan elemen dalam daftar */
    align-items: center; /* Tengahkan vertikal elemen dalam daftar */
}

input[type="text"] {
    width: 80%;
    padding: 5px;
}

button {
    padding: 3px 10px;
    background-color: #000203;
    color: rgb(45, 224, 248);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #010a13;
}
.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #0a0808;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
}

.delete-button:hover {
    background-color: #cc0000;
}